<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a href="indeed.com"><img height="50px" src="../../images/indeed_logo.jpg" alt="Indeed Logo"></a>
    </div>
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/" ng-click="search = !search" class="navbar-link">Search</a></li>
            <li><a href="#/results/{{searchInput}}" class="navbar-link">Results</a></li>
            <li><a href="#/saved" class="navbar-link">Saved Jobs</a></li>
            <li><a href="#/resume" class="navbar-link">Resume</a></li>
        </ul>
    </div>
</nav>
