<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a href="indeed.com"><img height="50px" src="../../images/indeed_logo.jpg" alt="Indeed Logo"></a>
    </div>
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" class="navbar-link">Search</a></li>
            <li><a href="" class="navbar-link">Saved Jobs</a></li>
            <li><a href="" class="navbar-link">Resume</a></li>
        </ul>
    </div>
</nav>
<section class="container detail">
    <div class="container col-md-8 col-md-offset-2">
        <h1>{{jobDetail.jobtitle}}</h1>
        <h4>{{jobDetail.company}}</h4>
        <p class="lead">{{jobDetail.snippet}}</p>
    </div>
</section>
